html {
	/*background-color: #FCFCFF;*/
	background-color: black;
	background-image: url('background_images/signup_background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}